<div id="<%= dom_id link %>" class="mt-4">
  <h2 class="font-medium leading-tight text-3xl mt-0 mb-2">
    <%= link.name %>
  </h2>
  <%= link_to link.url, link.url, class: "text-blue-600 hover:text-blue-700 transition duration-300 ease-in-out mb-4" %>


  <p class="my-5">
    <strong class="font-medium mb-1">Description:</strong>
    <%= link.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this link", link, data: {turbo_frame: "_top"}, class: "btn-basic" %>
  <% else %>
    <%= link_to "Back to links", links_path, data: {turbo_frame: "_top"}, class: "btn-basic" %>
  <% end %>
  <div class="inline-block ml-2">
    <%= button_to 'Destroy this link', link_path(link), method: :delete, class: "btn-basic" %>
  </div>
  <%= link_to 'Edit this link', edit_link_path(link), data: {turbo_frame: "_top"}, class: "btn-basic" %>
  <hr class="mt-6">
</div>
